@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,700&family=Nunito:wght@900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  margin: auto;
}

header {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header-container {
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}

.hero-container {
  width: 75%;
  margin: auto;
  margin-top: 0px;
}

header h3 {
  padding: 10px;
  font-family: "Nunito", sans-serif;
  font-size: 2em;
}

nav li {
  display: inline-block;
  padding: 10px;
  transition: 0.2s ease-in-out;
  margin-top: 0.9em;
}

nav li a {
  color: white;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
}
nav li a:hover {
  color: rgb(219, 219, 219);
}
nav li:hover {
  transform: translateY(-5px);
}
